In [207]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('house_prices-1.csv')

## Project 1: Data Cleaning and Preprocessing

#### 1.) Identify and Remove Duplicates

In [208]:
for col in data.columns:
    print(f'Duplicated {col}')
    print("==========================")
    for idx, case in enumerate(data.duplicated(f'{col}', keep=False)):
        # prints the indexes that are duplicated.
        if case==True:
            print("index: ", idx)
            
data_no_dup = data.drop_duplicates(keep='first')
# This dropped the dups
data_no_dup.reset_index(drop=True)

Duplicated ID
==========================
Duplicated Size(sqft)
==========================
index:  9
index:  12
index:  16
index:  26
index:  34
index:  36
index:  46
index:  50
index:  56
index:  57
index:  58
index:  64
index:  65
index:  66
index:  68
index:  69
index:  70
index:  79
index:  83
index:  92
index:  100
index:  101
index:  102
index:  103
index:  104
index:  105
index:  106
index:  107
index:  108
index:  109
Duplicated Bedrooms
==========================
index:  0
index:  1
index:  2
index:  3
index:  4
index:  5
index:  6
index:  8
index:  9
index:  10
index:  11
index:  12
index:  13
index:  14
index:  15
index:  16
index:  17
index:  18
index:  20
index:  21
index:  22
index:  23
index:  24
index:  26
index:  27
index:  28
index:  29
index:  30
index:  31
index:  32
index:  33
index:  34
index:  35
index:  36
index:  37
index:  38
index:  39
index:  40
index:  41
index:  42
index:  43
index:  44
index:  45
index:  46
index:  47
index:  48
index:  49
index:  50
index:  51
index:  52
index:  53
index:  54
index:  55
index:  56
index:  57
index:  58
index:  59
index:  60
index:  61
index:  62
index:  63
index:  64
index:  65
index:  66
index:  67
index:  68
index:  69
index:  70
index:  71
index:  72
index:  73
index:  74
index:  75
index:  76
index:  77
index:  78
index:  79
index:  80
index:  81
index:  82
index:  83
index:  84
index:  85
index:  86
index:  87
index:  88
index:  89
index:  90
index:  92
index:  93
index:  94
index:  95
index:  97
index:  99
index:  100
index:  101
index:  102
index:  103
index:  104
index:  105
index:  106
index:  107
index:  108
index:  109
Duplicated Badhrooms
==========================
index:  0
index:  1
index:  2
index:  3
index:  4
index:  5
index:  6
index:  7
index:  8
index:  9
index:  10
index:  11
index:  12
index:  13
index:  14
index:  15
index:  16
index:  17
index:  18
index:  19
index:  20
index:  21
index:  22
index:  23
index:  24
index:  25
index:  26
index:  27
index:  28
index:  29
index:  30
index:  31
index:  32
index:  33
index:  34
index:  35
index:  36
index:  37
index:  38
index:  39
index:  40
index:  42
index:  43
index:  44
index:  45
index:  46
index:  47
index:  48
index:  49
index:  50
index:  51
index:  52
index:  53
index:  54
index:  55
index:  56
index:  57
index:  58
index:  59
index:  60
index:  61
index:  62
index:  63
index:  64
index:  65
index:  66
index:  67
index:  68
index:  69
index:  70
index:  71
index:  72
index:  73
index:  74
index:  75
index:  76
index:  77
index:  78
index:  79
index:  80
index:  81
index:  82
index:  83
index:  84
index:  85
index:  86
index:  87
index:  88
index:  89
index:  90
index:  91
index:  92
index:  93
index:  94
index:  95
index:  96
index:  98
index:  99
index:  100
index:  101
index:  102
index:  103
index:  104
index:  105
index:  106
index:  107
index:  108
index:  109
Duplicated Location
==========================
index:  0
index:  1
index:  2
index:  3
index:  4
index:  5
index:  6
index:  7
index:  8
index:  9
index:  10
index:  11
index:  12
index:  13
index:  14
index:  15
index:  16
index:  17
index:  18
index:  19
index:  20
index:  21
index:  22
index:  23
index:  24
index:  25
index:  26
index:  27
index:  28
index:  29
index:  30
index:  31
index:  32
index:  33
index:  34
index:  35
index:  36
index:  37
index:  38
index:  39
index:  40
index:  41
index:  42
index:  43
index:  44
index:  45
index:  46
index:  47
index:  48
index:  49
index:  50
index:  51
index:  52
index:  53
index:  54
index:  55
index:  56
index:  57
index:  58
index:  59
index:  60
index:  61
index:  62
index:  63
index:  64
index:  65
index:  66
index:  67
index:  68
index:  69
index:  70
index:  71
index:  72
index:  73
index:  74
index:  75
index:  76
index:  77
index:  78
index:  79
index:  80
index:  81
index:  82
index:  83
index:  84
index:  85
index:  86
index:  87
index:  88
index:  89
index:  90
index:  91
index:  92
index:  93
index:  94
index:  95
index:  96
index:  97
index:  98
index:  99
index:  100
index:  101
index:  102
index:  103
index:  104
index:  105
index:  106
index:  107
index:  108
index:  109
Duplicated House_Type
==========================
index:  0
index:  1
index:  2
index:  3
index:  4
index:  6
index:  7
index:  8
index:  9
index:  10
index:  11
index:  12
index:  14
index:  15
index:  16
index:  17
index:  18
index:  19
index:  20
index:  21
index:  22
index:  23
index:  24
index:  25
index:  26
index:  27
index:  28
index:  29
index:  30
index:  31
index:  32
index:  33
index:  34
index:  35
index:  36
index:  38
index:  39
index:  41
index:  42
index:  43
index:  44
index:  45
index:  46
index:  47
index:  48
index:  50
index:  51
index:  52
index:  54
index:  55
index:  56
index:  57
index:  58
index:  59
index:  60
index:  62
index:  63
index:  64
index:  65
index:  66
index:  67
index:  69
index:  70
index:  71
index:  72
index:  73
index:  74
index:  75
index:  76
index:  77
index:  78
index:  79
index:  80
index:  81
index:  82
index:  83
index:  84
index:  85
index:  86
index:  87
index:  88
index:  89
index:  90
index:  91
index:  92
index:  93
index:  94
index:  95
index:  96
index:  97
index:  98
index:  99
index:  101
index:  104
index:  105
index:  106
index:  107
index:  108
index:  109
Duplicated Year_Built
==========================
index:  0
index:  3
index:  4
index:  5
index:  9
index:  10
index:  18
index:  19
index:  20
index:  21
index:  22
index:  25
index:  26
index:  28
index:  29
index:  32
index:  34
index:  36
index:  45
index:  48
index:  50
index:  53
index:  54
index:  55
index:  57
index:  58
index:  59
index:  61
index:  62
index:  64
index:  65
index:  66
index:  67
index:  68
index:  70
index:  72
index:  74
index:  88
index:  91
index:  93
index:  94
index:  96
index:  100
index:  101
index:  102
index:  103
index:  104
index:  105
index:  106
index:  107
index:  108
index:  109
Duplicated Date_Sold
==========================
index:  4
index:  9
index:  15
index:  22
index:  26
index:  32
index:  34
index:  36
index:  40
index:  44
index:  49
index:  50
index:  52
index:  55
index:  57
index:  58
index:  65
index:  66
index:  68
index:  77
index:  84
index:  87
index:  92
index:  100
index:  101
index:  102
index:  103
index:  104
index:  105
index:  106
index:  107
index:  108
index:  109
Duplicated Price
==========================
index:  9
index:  21
index:  26
index:  34
index:  36
index:  50
index:  56
index:  57
index:  58
index:  59
index:  64
index:  65
index:  66
index:  68
index:  85
index:  100
index:  101
index:  102
index:  103
index:  104
index:  105
index:  106
index:  107
index:  108
index:  109

,ID,Size(sqft),Bedrooms,Badhrooms,Location,House_Type,Year_Built,Date_Sold,Price
0,1,837.0,1.0,NaN,Rural,NaN,1938.0,7/21/20 00:00,221958.0
1,2,1378.0,1.0,1.0,NaN,Townhouse,200800.0,2/2/22 00:00,771155.0
2,3,157600.0,4.0,1.0,Rural,Semi-Detached,1952.0,6/6/23 00:00,231932.0
3,4,-4493.0,NaN,1.0,Urban,Townhouse,1941.0,6/4/23 00:00,465838.0
4,5,879.0,6.0,3.0,Suburban,Townhouse,NaN,NaN,359178.0
...,...,...,...,...,...,...,...,...,...
105,106,1984.0,1.0,2.0,Urban,Apartment,1904.0,1/1/22 00:00,600186.0
106,107,NaN,1.0,2.0,Rural,Townhouse,NaN,2/10/20 00:00,970910.0
107,108,3945.0,3.0,NaN,Urban,Townhouse,195700.0,6/25/20 00:00,748531.0
108,109,3068.0,3.0,NaN,Rural,NaN,1904.0,12/9/23 00:00,237337.0
109,110,3190.0,6.0,3.0,Rural,Detached,1912.0,2/19/23 00:00,203355.0

#### 2.) Handling Missing Values

In [209]:
summ = 0
no_num = ['ID', 'Location', 'House_Type', 'Date_Sold']
data_filled_na = data_no_dup.copy()

# Checking for the proportion of missing values per column.
for idx, col in enumerate(data_no_dup.columns):
    n = data_no_dup[col].isnull().sum()
    if col in no_num:
        print(col, "count of na: ", n )
        print("Mean: ", (n/91))
        
        print("Filling na with mode of missing vals")
        data_filled_na[col] = data_no_dup[col].mode(dropna=False)
    else:
        print(col, "count of na: ", n )
        print("Mean: ", (n/91))

        print("Filling na with proportion of missing vals")
        data_filled_na[col] = data_no_dup[col].fillna((n/91))
        
        
        print("Z-Scores")
        for x in data_filled_na[col]:
            z_score = (x - (n/91))/ np.std(data_filled_na[col])
            print("Z-Score: ", round(z_score, 2))
            if z_score > 3:
                print("GREATER THAN 3 STD: ", z_score, "at ", data_filled_na[col])
                data_filled_na[col]
        print()
        summ+=n
    
print("Sum of all NaN: ", summ)

ID count of na:  0
Mean:  0.0
Filling na with mode of missing vals
Size(sqft) count of na:  12
Mean:  0.13186813186813187
Filling na with proportion of missing vals
Z-Scores
Z-Score:  0.01
Z-Score:  0.02
Z-Score:  2.31
Z-Score:  -0.07
Z-Score:  0.01
Z-Score:  0.01
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.01
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.01
Z-Score:  7.29
GREATER THAN 3 STD:  7.28511717002879 at  0         837.000000
1        1378.000000
2      157600.000000
3       -4493.000000
4         879.000000
           ...
105      1984.000000
106         0.131868
107      3945.000000
108      3068.000000
109      3190.000000
Name: Size(sqft), Length: 110, dtype: float64
Z-Score:  0.06
Z-Score:  0.0
Z-Score:  5.27
GREATER THAN 3 STD:  5.271237241509404 at  0         837.000000
1        1378.000000
2      157600.000000
3       -4493.000000
4         879.000000
           ...
105      1984.000000
106         0.131868
107      3945.000000
108      3068.000000
109      3190.000000
Name: Size(sqft), Length: 110, dtype: float64
Z-Score:  0.01
Z-Score:  -0.05
Z-Score:  4.33
GREATER THAN 3 STD:  4.3265444750403095 at  0         837.000000
1        1378.000000
2      157600.000000
3       -4493.000000
4         879.000000
           ...
105      1984.000000
106         0.131868
107      3945.000000
108      3068.000000
109      3190.000000
Name: Size(sqft), Length: 110, dtype: float64
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  -0.05
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.05
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  0.01
Z-Score:  0.07
Z-Score:  0.02
Z-Score:  0.07
Z-Score:  0.01
Z-Score:  0.03
Z-Score:  0.02
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.07
Z-Score:  3.31
GREATER THAN 3 STD:  3.305690431274483 at  0         837.000000
1        1378.000000
2      157600.000000
3       -4493.000000
4         879.000000
           ...
105      1984.000000
106         0.131868
107      3945.000000
108      3068.000000
109      3190.000000
Name: Size(sqft), Length: 110, dtype: float64
Z-Score:  0.03
Z-Score:  0.05
Z-Score:  0.02
Z-Score:  0.03
Z-Score:  0.06
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.06
Z-Score:  0.03
Z-Score:  0.04
Z-Score:  0.03
Z-Score:  0.03
Z-Score:  0.0
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.03
Z-Score:  -0.07
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.02
Z-Score:  0.0
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.0
Z-Score:  0.03
Z-Score:  0.06
Z-Score:  0.06
Z-Score:  0.03
Z-Score:  0.03
Z-Score:  0.06
Z-Score:  0.06
Z-Score:  0.03
Z-Score:  0.06
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.06
Z-Score:  0.03
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.06
Z-Score:  0.01
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.07
Z-Score:  0.02
Z-Score:  0.07
Z-Score:  0.04
Z-Score:  0.05
Z-Score:  0.01
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.0
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.05

Bedrooms count of na:  8
Mean:  0.08791208791208792
Filling na with proportion of missing vals
Z-Scores
Z-Score:  0.01
Z-Score:  0.01
Z-Score:  0.06
Z-Score:  0.0
Z-Score:  0.09
Z-Score:  0.08
Z-Score:  0.05
Z-Score:  6.32
GREATER THAN 3 STD:  6.318714405179605 at  0      1.000000
1      1.000000
2      4.000000
3      0.087912
4      6.000000
         ...
105    1.000000
106    1.000000
107    3.000000
108    3.000000
109    6.000000
Name: Bedrooms, Length: 110, dtype: float64
Z-Score:  0.06
Z-Score:  0.05
Z-Score:  0.06
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.06
Z-Score:  0.0
Z-Score:  0.01
Z-Score:  -0.03
Z-Score:  0.01
Z-Score:  0.05
Z-Score:  0.06
Z-Score:  -0.02
Z-Score:  0.01
Z-Score:  3.16
GREATER THAN 3 STD:  3.158662685728385 at  0      1.000000
1      1.000000
2      4.000000
3      0.087912
4      6.000000
         ...
105    1.000000
106    1.000000
107    3.000000
108    3.000000
109    6.000000
Name: Bedrooms, Length: 110, dtype: float64
Z-Score:  0.09
Z-Score:  0.03
Z-Score:  0.05
Z-Score:  0.06
Z-Score:  0.03
Z-Score:  0.01
Z-Score:  0.0
Z-Score:  0.06
Z-Score:  0.01
Z-Score:  0.03
Z-Score:  0.01
Z-Score:  0.09
Z-Score:  0.06
Z-Score:  0.08
Z-Score:  0.08
Z-Score:  0.05
Z-Score:  0.01
Z-Score:  0.01
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.06
Z-Score:  0.09
Z-Score:  -0.02
Z-Score:  0.06
Z-Score:  0.05
Z-Score:  0.01
Z-Score:  0.06
Z-Score:  0.09
Z-Score:  0.06
Z-Score:  0.09
Z-Score:  0.05
Z-Score:  0.09
Z-Score:  -0.02
Z-Score:  0.05
Z-Score:  0.01
Z-Score:  0.08
Z-Score:  0.03
Z-Score:  0.0
Z-Score:  0.03
Z-Score:  0.03
Z-Score:  0.09
Z-Score:  0.05
Z-Score:  0.08
Z-Score:  0.01
Z-Score:  0.06
Z-Score:  0.01
Z-Score:  0.06
Z-Score:  0.01
Z-Score:  0.09
Z-Score:  0.08
Z-Score:  0.06
Z-Score:  0.05
Z-Score:  0.01
Z-Score:  0.01
Z-Score:  0.06
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.09
Z-Score:  0.09
Z-Score:  0.09
Z-Score:  0.09
Z-Score:  0.09
Z-Score:  0.09
Z-Score:  0.08
Z-Score:  -0.05
Z-Score:  0.09
Z-Score:  0.0
Z-Score:  0.0
Z-Score:  0.03
Z-Score:  7.9
GREATER THAN 3 STD:  7.898740264905216 at  0      1.000000
1      1.000000
2      4.000000
3      0.087912
4      6.000000
         ...
105    1.000000
106    1.000000
107    3.000000
108    3.000000
109    6.000000
Name: Bedrooms, Length: 110, dtype: float64
Z-Score:  0.09
Z-Score:  1.58
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.09
Z-Score:  0.03
Z-Score:  0.03
Z-Score:  0.06
Z-Score:  0.01
Z-Score:  0.01
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.09

Badhrooms count of na:  20
Mean:  0.21978021978021978
Filling na with proportion of missing vals
Z-Scores
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.02
Z-Score:  0.02
Z-Score:  0.06
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  6.58
GREATER THAN 3 STD:  6.57813043322883 at  0      0.21978
1      1.00000
2      1.00000
3      1.00000
4      3.00000
        ...
105    2.00000
106    2.00000
107    0.21978
108    0.21978
109    3.00000
Name: Badhrooms, Length: 110, dtype: float64
Z-Score:  0.02
Z-Score:  0.02
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.06
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  0.02
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  -0.07
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  4.38
GREATER THAN 3 STD:  4.383812730062321 at  0      0.21978
1      1.00000
2      1.00000
3      1.00000
4      3.00000
        ...
105    2.00000
106    2.00000
107    0.21978
108    0.21978
109    3.00000
Name: Badhrooms, Length: 110, dtype: float64
Z-Score:  0.06
Z-Score:  6.58
GREATER THAN 3 STD:  6.57813043322883 at  0      0.21978
1      1.00000
2      1.00000
3      1.00000
4      3.00000
        ...
105    2.00000
106    2.00000
107    0.21978
108    0.21978
109    3.00000
Name: Badhrooms, Length: 110, dtype: float64
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  0.02
Z-Score:  -0.03
Z-Score:  0.02
Z-Score:  -0.07
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.0
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.02
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.0
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.0
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  2.19
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  2.19
Z-Score:  0.02
Z-Score:  -0.03
Z-Score:  0.06
Z-Score:  -0.05
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  -0.07
Z-Score:  0.04
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.0
Z-Score:  0.06

Location count of na:  10
Mean:  0.10989010989010989
Filling na with mode of missing vals
House_Type count of na:  15
Mean:  0.16483516483516483
Filling na with mode of missing vals
Year_Built count of na:  11
Mean:  0.12087912087912088
Filling na with proportion of missing vals
Z-Scores
Z-Score:  0.05
Z-Score:  4.94
GREATER THAN 3 STD:  4.937281412454647 at  0        1938.000000
1      200800.000000
2        1952.000000
3        1941.000000
4           0.120879
           ...
105      1904.000000
106         0.120879
107    195700.000000
108      1904.000000
109      1912.000000
Name: Year_Built, Length: 110, dtype: float64
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  -0.05
Z-Score:  0.05
Z-Score:  -0.05
Z-Score:  0.0
Z-Score:  4.76
GREATER THAN 3 STD:  4.762706117977873 at  0        1938.000000
1      200800.000000
2        1952.000000
3        1941.000000
4           0.120879
           ...
105      1904.000000
106         0.120879
107    195700.000000
108      1904.000000
109      1912.000000
Name: Year_Built, Length: 110, dtype: float64
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  -0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  4.81
GREATER THAN 3 STD:  4.811882257267105 at  0        1938.000000
1      200800.000000
2        1952.000000
3        1941.000000
4           0.120879
           ...
105      1904.000000
106         0.120879
107    195700.000000
108      1904.000000
109      1912.000000
Name: Year_Built, Length: 110, dtype: float64
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  4.86
GREATER THAN 3 STD:  4.858599589591876 at  0        1938.000000
1      200800.000000
2        1952.000000
3        1941.000000
4           0.120879
           ...
105      1904.000000
106         0.120879
107    195700.000000
108      1904.000000
109      1912.000000
Name: Year_Built, Length: 110, dtype: float64
Z-Score:  -0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  -0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  -0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.0
Z-Score:  4.81
GREATER THAN 3 STD:  4.811882257267105 at  0        1938.000000
1      200800.000000
2        1952.000000
3        1941.000000
4           0.120879
           ...
105      1904.000000
106         0.120879
107    195700.000000
108      1904.000000
109      1912.000000
Name: Year_Built, Length: 110, dtype: float64
Z-Score:  0.05
Z-Score:  0.05

Date_Sold count of na:  10
Mean:  0.10989010989010989
Filling na with mode of missing vals
Price count of na:  5
Mean:  0.054945054945054944
Filling na with proportion of missing vals
Z-Scores
Z-Score:  0.02
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  0.04
Z-Score:  0.03
Z-Score:  6.17
GREATER THAN 3 STD:  6.174619863765386 at  0      221958.0
1      771155.0
2      231932.0
3      465838.0
4      359178.0
         ...
105    600186.0
106    970910.0
107    748531.0
108    237337.0
109    203355.0
Name: Price, Length: 110, dtype: float64
Z-Score:  0.02
Z-Score:  0.07
Z-Score:  0.01
Z-Score:  0.02
Z-Score:  0.05
Z-Score:  1.56
Z-Score:  0.08
Z-Score:  0.02
Z-Score:  0.02
Z-Score:  0.03
Z-Score:  0.01
Z-Score:  0.04
Z-Score:  0.01
Z-Score:  0.07
Z-Score:  0.04
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.07
Z-Score:  0.02
Z-Score:  0.07
Z-Score:  0.02
Z-Score:  0.03
Z-Score:  0.03
Z-Score:  0.02
Z-Score:  -0.04
Z-Score:  0.04
Z-Score:  0.03
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.02
Z-Score:  0.08
Z-Score:  0.04
Z-Score:  2.07
Z-Score:  0.06
Z-Score:  0.05
Z-Score:  6.21
GREATER THAN 3 STD:  6.20761015841223 at  0      221958.0
1      771155.0
2      231932.0
3      465838.0
4      359178.0
         ...
105    600186.0
106    970910.0
107    748531.0
108    237337.0
109    203355.0
Name: Price, Length: 110, dtype: float64
Z-Score:  0.05
Z-Score:  0.01
Z-Score:  0.02
Z-Score:  0.02
Z-Score:  0.06
Z-Score:  0.03
Z-Score:  -0.04
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.04
Z-Score:  0.05
Z-Score:  0.06
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.0
Z-Score:  -3.73
Z-Score:  0.06
Z-Score:  0.0
Z-Score:  0.03
Z-Score:  0.03
Z-Score:  0.03
Z-Score:  0.07
Z-Score:  0.0
Z-Score:  0.04
Z-Score:  0.01
Z-Score:  0.07
Z-Score:  0.06
Z-Score:  0.03
Z-Score:  0.06
Z-Score:  0.06
Z-Score:  0.03
Z-Score:  0.07
Z-Score:  0.08
Z-Score:  0.02
Z-Score:  0.06
Z-Score:  0.08
Z-Score:  0.05
Z-Score:  0.07
Z-Score:  0.08
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  0.07
Z-Score:  -0.04
Z-Score:  0.0
Z-Score:  0.02
Z-Score:  0.03
Z-Score:  0.04
Z-Score:  0.03
Z-Score:  0.02
Z-Score:  0.05
Z-Score:  0.03
Z-Score:  -0.06
Z-Score:  0.05
Z-Score:  0.05
Z-Score:  0.06
Z-Score:  0.07
Z-Score:  0.04
Z-Score:  0.03
Z-Score:  -3.73
Z-Score:  0.06
Z-Score:  0.04
Z-Score:  0.01
Z-Score:  0.03
Z-Score:  0.05
Z-Score:  0.08
Z-Score:  0.06
Z-Score:  0.02
Z-Score:  0.02

Sum of all NaN:  56

In [210]:
data_filled_na

,ID,Size(sqft),Bedrooms,Badhrooms,Location,House_Type,Year_Built,Date_Sold,Price
0,1,837.000000,1.000000,0.21978,Urban,Apartment,1938.000000,NaN,221958.0
1,2,1378.000000,1.000000,1.00000,NaN,NaN,200800.000000,NaN,771155.0
2,3,157600.000000,4.000000,1.00000,NaN,NaN,1952.000000,NaN,231932.0
3,4,-4493.000000,0.087912,1.00000,NaN,NaN,1941.000000,NaN,465838.0
4,5,879.000000,6.000000,3.00000,NaN,NaN,0.120879,NaN,359178.0
...,...,...,...,...,...,...,...,...,...
105,106,1984.000000,1.000000,2.00000,NaN,NaN,1904.000000,NaN,600186.0
106,107,0.131868,1.000000,2.00000,NaN,NaN,0.120879,NaN,970910.0
107,108,3945.000000,3.000000,0.21978,NaN,NaN,195700.000000,NaN,748531.0
108,109,3068.000000,3.000000,0.21978,NaN,NaN,1904.000000,NaN,237337.0
109,110,3190.000000,6.000000,3.00000,NaN,NaN,1912.000000,NaN,203355.0

#### Outlier Detection and Handling